
{{#each items}}
<div class="letter">
   <div class="letter-new"> <strong><em>{{ fullname }}</em></strong> </div>
   <div class="letter-list-details">{{currency loanAmount }} @ {{ interestRate }}%</div>
   <div class="letter-list-details">Loan Type: {{ loanType }} | Property Type {{propertyType}} | <a href="#/edit/{{id}}">Edit</a></div>
</div>
{{/each}}