{{> header }}
<table width="510"border="0" cellspacing="0" cellpadding="0" align="center">
    <tr>
        <td style="font-size:15px;font-weight:bold;padding-bottom:0px;background:#045D92;color:#fff;padding:10px;">You
            have received a new enquiry from the website RePreApproval.
        </td>
    </tr>
    <tr>
        <td>
            <table width="100%" border="0" cellspacing="5" cellpadding="0" align="center"
                   style="line-height:20px;background:#F0F0F0;">
                <tr>
                    <td style="font-family: 'Helvetica', sans-serif; padding-left:10px;" width="150"><strong style="color:#000;">Name</strong></td>
                    <td>:</td>
                    <td style="font-family: 'Helvetica', sans-serif; color:#045D92">{{name}}</td>
                </tr>

                <tr>
                    <td style="font-family: 'Helvetica', sans-serif; padding-left:10px;"><strong style="color:#000;">Email</strong></td>
                    <td>:</td>
                    <td style="font-family: 'Helvetica', sans-serif; color:#045D92">{{email}}</td>
                </tr>
                <tr>
                    <td style="font-family: 'Helvetica', sans-serif; padding-left:10px;"><strong style="color:#000;">Phone</strong></td>
                    <td>:</td>
                    <td style="font-family: 'Helvetica', sans-serif; color:#045D92">{{phone}}</td>
                </tr>

                <tr>
                    <td style="font-family: 'Helvetica', sans-serif; padding-left:10px;"><strong style="color:#000;">Subject</strong></td>
                    <td>:</td>
                    <td style="font-family: 'Helvetica', sans-serif; color:#045D92">{{subject}}</td>
                </tr>

                <tr>
                    <td style="font-family: 'Helvetica', sans-serif; padding-left:10px;"><strong style="color:#000;"> Message</strong></td>
                    <td>:</td>
                    <td style="font-family: 'Helvetica', sans-serif; color:#045D92">{{message}}</td>
                </tr>
            </table>
        </td>
    </tr>
</table>
{{> footer }}